@model PressAgencySys.Models.articlePost

@{
    ViewBag.Title = "EditPost";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h2>EditPost</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>articlePost</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.articleID)

    @* <div class="form-group">
            @Html.LabelFor(model => model.editorID, "editorID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("editorID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.editorID, "", new { @class = "text-danger" })
            </div>
        </div>*@

    <div class="form-group">
        @Html.LabelFor(model => model.articleTitle, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.articleTitle, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.articleTitle, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.articlebody, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.articlebody, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.articlebody, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.postCreationDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.postCreationDate, new { htmlAttributes = new { @class = "form-control", Type = "date" } })
            @Html.ValidationMessageFor(model => model.postCreationDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.articleType, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.articleType, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.articleType, "", new { @class = "text-danger" })
        </div>
    </div>

    @Html.HiddenFor(model => model.isAccepted)

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "GetPosts")
</div>
