<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/MainDesign.css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body class="body-content " style="margin-bottom:50px;">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="navbar-collapse collapse ">
                <ul class="nav navbar-nav ">
                    <li>@Html.ActionLink("Profile", "GetAdminInfo", "Admin")</li>
                    <li>@Html.ActionLink("Users Page", "GetUsers", "Admin")</li>
                    <li>@Html.ActionLink("Posts Page", "GetPosts", "Admin")</li>
                    <li>@Html.ActionLink("Posts Requests", "PostRequests", "Admin")</li>
                </ul>
                <ul class="nav navbar-nav " style="float:right">
                    @if (Session["user"] != null)
                    {
                        <li><p style="color:#fff; margin-top:15px;">Hello @Session["user"] </p></li>
                        <li>@Html.ActionLink("LogOut", "LogOut", "Admin")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    @RenderBody()
    <div class="footer navbar-fixed-bottom">
        <footer>
            <h3>Welcome To Press Agency System</h3>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
